name: mini_crm
description: Mini CRM - Flutter Web (responsive)
publish_to: 'none'
version: 0.0.1

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Firebase
  firebase_core: ^2.12.0
  cloud_firestore: ^4.7.0

  # State management
  flutter_riverpod: ^2.3.0

  # Fonts / UI
  google_fonts: ^5.0.0
  intl: ^0.18.0

  # Utilities
  collection: ^1.18.0

dev_dependencies:
  flutter_test:
    sdk: flutter
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this: